
.model-overlay button{
    background-color: #C55252;
    border-radius: 5px;
    outline: none;
    border:none;
    color:white;
    margin:1em;
}

.showBtn{
    z-index: 9999;
}

.model-close{
    margin-inline: 1em;
}
